<section class="about-section bg-info py-8 pt-lg-10 pb-lg-9">
    {% import "packages/components/blox.component-package.about/blox.component.bio.quiz/bio.njk" as bio %}
    {% call bio.default(blox, 'dark') %}{% endcall %}
</section>